.page {
  position: absolute;
  overflow: hidden;
  left: 0;
  width:100%;
  line-height: 20px;
  opacity: 1; 
  background: transparent;
  min-height: 100%;
}


.nextPage.ng-enter {
  animation: nextPage-in cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.nextPage.ng-leave{
  animation: nextPage-out cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

@keyframes nextPage-in
{
from {
  
  transform:translateX(100%)
  }
to {

  transform:translateX(0)
  }
}

@keyframes nextPage-out
{
from {
 
  opacity: 0.8
  }
to {

  opacity: 0
  }
}

.prePage.ng-enter {
  animation: prePage-in cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.prePage.ng-leave{
  animation: prePage-out cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

@keyframes prePage-in
{
from {
  opacity: 0
  
  }
to {
 opacity: 0.5
  }
}

@keyframes prePage-out
{
from {
  
  transform:translateX(0)
  }
to {
 
  transform:translateX(100%) 
  }
}


