.page {
  position: absolute;
  overflow: hidden;
  left: 0;
  width:100%;
  line-height: 20px;
  opacity: 1; 
}


.page.ng-enter {
  animation: page-in cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.page.ng-leave{
  animation: page-out cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

@keyframes page-in
{
from {
  opacity: 1;
  transform:translateX(100%)
  }
to {
  opacity: 1;
  transform:translateX(0)
  }
}

@keyframes page-out
{
from {
  opacity: 1; 
  transform:translateX(0)
  }
to {
  opacity: 1;
  transform:translateX(-100%) 
  }
}

/*.page.ng-enter,
.page.ng-leave.ng-leave-active {
  opacity:0;
  transform:translateX(50%);  
}
.page.ng-leave,
.page.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0%)
}*/



